
extends base.pug

block styles
  link(rel="stylesheet", href="/static/style.css")

block scripts
  script(src="/static/pub.js")

block content
  section#introSection
    h1.intro-text
      span W
      span e
      span l
      span c
      span o
      span m
      span e
      span  
      span t
      span o
      span  
      span D
      span a
      span n
      span c
      span e
      span  
      span W
      span o
      span r
      span l
      span d
    div.small Eat Sleep Dance Repeat

  section#missionSection 
    h2 Our Mission
    .card
      h3 Dance Perfection
      .card.box 
        .card-img 
          img(src="/static/dance1.png", alt="Dance Image 1")
        .card-content
          p Our mission is to help you achieve dance perfection through expert training and personalized coaching.

    .card 
      h3 Inspiring Creativity
      .card.box 
        .card-img 
          img(src="/static/p2.png", alt="Dance Image 2")
        .card-content
          p We aim to inspire creativity and self-expression in every dancer, fostering a love for the art of dance.
    
    .card
      h3 Building Confidence
      .card.box 
        .card-img 
          img(src="/static/p.png", alt="Dance Image 3")
        .card-content
          p We are dedicated to building confidence and self-esteem in our students, empowering them to shine.

  section#sponsorSection
    h2 Our Sponsors
    .sponsor-box
      p We are proudly sponsored by Shri Ramji Corporation and Lakhanbhaiya Dance Supplies.
