doctype html
html(lang="en")
  head
    meta(charset="UTF-8")
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    title #{title}
    link(rel="stylesheet", href="/static/style.css")  

  body
    header
      nav#navbar.top
        ul
          img(src="/static/image.png", alt="Dance World Logo")
          span Dance World
          li: a(href="/") Home
          li: a(href="/about") About
          li: a(href="/services") Services
          li: a(href="/classinfo") Class Info

    section#introSection
      h1.intro-text
        span W
        span e
        span l
        span c
        span o
        span m
        span e
        span  
        span t
        span o
        span  
        span D
        span a
        span n
        span c
        span e
        span  
        span W
        span o
        span r
        span l
        span d
      div.small Eat Sleep Dance Repeat

    section#missionSection 
      h2 Our Mission
      div.card
        h3 Dance Perfection
        div.card.box 
          div.card-img 
            img(src="/static/dance1.png", alt="Dance Image 1")
          div.card-content
            p Our mission is to help you achieve dance perfection through expert training and personalized coaching.
      
      div.card 
        h3 Inspiring Creativity
        div.card.box 
          div.card-img 
            img(src="/static/p2.png", alt="Dance Image 2")
          div.card-content
            p We aim to inspire creativity and self-expression in every dancer, fostering a love for the art of dance.
      
      div.card
        h3 Building Confidence
        div.card.box 
          div.card-img 
            img(src="/static/p.png", alt="Dance Image 3")
          div.card-content
            p We are dedicated to building confidence and self-esteem in our students, empowering them to shine.

    section#sponsorSection
       h2 Our Sponsors
       div.sponsor-box
           p We are proudly sponsored by shri Ramji Corporation and lakhanbhaiya Dance Supplies.

    footer#footer
      p This is footer and copyright 2024 &copy; All rights reserved.
